.transporter-proposal-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
}
.proposal {
  border-collapse: collapse;
  margin-top: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
}

.proposal th, .proposal td {
  border: 1px solid #eeeeee;
  padding: 12px;
  text-align: left;
}

.proposal th {
  background-color: #accef7;
}

.proposal tr:nth-child(even) {
  background: #fcefef;
}

.proposal tr:nth-child(odd) {
  background: rgb(224, 238, 255);
}

.proposal tr:hover {
  background-color: #ffffff;
}

.search-container {
  display: flex;
  justify-content: center;
  padding: 5px;
  margin: 10px;
}

.search-container label {
  margin: 5px;
}  