.transporter-proposal-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}
.proposal {
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
  }
  
  .proposal th, .proposal td {
    border: 1px solid #e0e0e0;
    padding: 12px;
    text-align: left;
  }
  
  .proposal th {
    background-color: #f4f4f4;
    color: #333;
  }
  
  .proposal tr:nth-child(even) {
    background: #fcefef;
  }
  
  .proposal tr:nth-child(odd) {
    background: #bfd5ff;
  }
  
  .proposal tr:hover {
    background-color: #ffffff;
  }

  
  