<nav>
  <div>
    <img src="assets/uci.png" />
    <p class="uci-header" appAdminAccess>UCI</p>
    <p class="uci-header" appSupplierAccess>UCI - Supplier</p>
    <p class="uci-header" appConsumerAccess>UCI - Consumer</p>
    <p class="uci-header" appTransporterAccess>UCI - Transporter</p>
  </div>

  <div>
    <a routerLink="/home" appAdminAccess> Home </a>

    <a routerLink="/home/supplier-home" appSupplierAccess> Home </a>

    <a routerLink="/home/consumer-home" appConsumerAccess> Home </a>

    <a routerLink="/home/transporter-home" appTransporterAccess> Home </a>

    <a routerLink="/login" (click)="logoutUser()"> Logout </a>
  </div>
</nav>

<router-outlet></router-outlet>

<div class="profile-container">
  <img
    [src]="
      profile?.profile_image == ''
        ? 'assets/profile.png'
        : profile?.profile_image
    "
    alt=""
  />
  <label for="profile-image">Profile Image:</label>
  <input
    type="file"
    id="profile-image"
    name="profile_image"
    (change)="addFile($event)"
    required
  />

  <div class="form-container">
    <form [formGroup]="formResponse" (ngSubmit)="updateProfile()">
      <div>
        <label for="username">Username:</label> <br />
        <mat-form-field>
          <input
            matInput
            [value]="username"
            type="text"
            id="username"
            name="username"
            disabled
          />
        </mat-form-field>
        <br />
        <label for="fullname">Full name:</label> <br />
        <mat-form-field>
          <input
            matInput
            type="text"
            id="fullname"
            name="fullname"
            placeholder="Enter Fullname"
            formControlName="full_name"
            required
          />
        </mat-form-field>
        <br />
        <label for="organization">Organization:</label> <br />
        <mat-form-field>
          <input
            matInput
            type="text"
            id="organization"
            name="organization"
            placeholder="Enter organization"
            formControlName="organization"
            required
          />
        </mat-form-field>
        <br />
        <label for="email">Email ID:</label> <br />
        <mat-form-field>
          <input
            matInput
            type="text"
            id="email"
            name="email"
            formControlName="email"
          />
        </mat-form-field>
        <br />
        <label for="phonenumber">Phone Number:</label> <br />
        <mat-form-field>
          <input
            matInput
            type="number"
            id="phonenumber"
            name="phonenumber"
            placeholder="Enter Phone number"
            formControlName="phone_number"
            required
          />
        </mat-form-field>
        <br />
      </div>

      <!-- address -->
      <div formGroupName="address">
        <label> Address </label>
        <label for="city">City:</label> <br />

        <mat-form-field>
          <input
            matInput
            type="text"
            id="city"
            name="city"
            placeholder="Enter city"
            formControlName="city"
            required
          />
        </mat-form-field>
        <br />
        <label for="state">State:</label> <br />
        <mat-form-field>
          <input
            matInput
            type="text"
            id="state"
            name="state"
            placeholder="Enter state"
            formControlName="state"
            required
          />
        </mat-form-field>
        <br />
        <label for="country">Country:</label> <br />
        <mat-form-field>
          <input
            matInput
            type="text"
            id="country"
            name="country"
            placeholder="Enter country"
            formControlName="country"
            required
          />
        </mat-form-field>
        <br />
        <label for="primary-address">Primary Address:</label> <br />
        <mat-form-field>
          <input
            matInput
            type="text"
            id="primary-address"
            name="primaryaddress"
            placeholder="Enter primary address"
            formControlName="primary_address"
            required
          />
        </mat-form-field>
        <br />
        <label for="postalcode">Postal Code:</label> <br />
        <mat-form-field>
          <input
            matInput
            type="text"
            id="postalcode"
            name="postalcode"
            placeholder="Enter postal code"
            formControlName="postal_code"
            required
          />
        </mat-form-field>
        <br />

        <button mat-raised-button type="submit">Update</button>
      </div>

      <div class="stats-container" *ngIf="!consumer">
        <br />
        <div class="metrics">
          <p>Delivery Count: {{ profile?.delivery_count }}</p>
          <br />

          <p>Rating: {{ profile?.rating }}</p>
        </div>

        <!-- subscription -->
        <div
          class="subscription-container"
          appSupplierAccess
          *ngIf="
            profile?.subscription === null ||
            profile?.subscription === undefined
          "
        >
          <label>{{ subscription_type }}</label> <br />

          <div class="subscription-plans">
            <p>Monthly Subscription: Rs.300</p>
            <p>Yearly Subscription: Rs.3000</p>

            <label for="period"
              >Select period of subscription preference:</label
            >
            <br />
            <br />
            <select
              name="period"
              id="period"
              formControlName="period"
              (change)="payment($event, 'SUPPLIER')"
            >
              <option default>Select a period</option>
              <option value="Monthly">Monthly</option>
              <option value="Yearly">Yearly</option>
            </select>
            <br />
          </div>
        </div>

        <div
          class="subscription-container"
          appTransporterAccess
          *ngIf="
            profile?.subscription === null ||
            profile?.subscription === undefined
          "
        >
          <label>{{ subscription_type }}</label> <br />

          <div class="subscription-plans">
            <p>Monthly Subscription: Rs.160</p>
            <p>Yearly Subscription: Rs.1800</p>

            <label for="period"
              >Select period of subscription preference:</label
            >
            <select
              name="period"
              id="period"
              formControlName="period"
              (change)="payment($event, 'TRANSPORTER')"
            >
              <option default>Select a period</option>
              <option value="Monthly">Monthly</option>
              <option value="Yearly">Yearly</option>
            </select>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
