<br />
<div class="new-listing">
  <div class="search-container">
    <label for="search">Search : </label>
    <input
      type="text"
      name="search"
      id="search"
      placeholder="Search by product name"
      [(ngModel)]="search"
      (input)="searchProduct()"
    />
  </div>
  <div></div>
  <button (click)="makeNewListing()" appPermission value="EDIT_PRODUCTS">
    New Product Listing
  </button>
</div>

<div class="container">
  <div class="card" *ngFor="let product of products">
    <div class="card-inner">
      <div class="front">
        <img [src]="product.product_image" />
        <p class="text-content">Name: {{ product.product_name }}</p>
      </div>
      <div class="back">
        <p>Product Name: {{ product.product_name }}</p>
        <p>
          Description: <a>{{ product.description }}</a>
        </p>
        <p>Quantity (in Kg): {{ product.quantity }}</p>
        <p>Price: {{ product.price }}</p>
        <p>Transportation Type: {{ product.transportation_type }}</p>
        <button
          appPermission
          value="EDIT_PRODUCTS"
          (click)="updateListing(product._id)"
        >
          Update
        </button>
        <br />
        <button
          appPermission
          value="DELETE_PRODUCTS"
          (click)="deleteListing(product._id)"
        >
          Delete
        </button>
      </div>
    </div>
  </div>
</div>

<mat-paginator
  [length]="totalElements"
  [pageSize]="pageSize"
  (page)="handlePageEvent($event)"
  [pageSizeOptions]="[10]"
  aria-label="Select page"
>
</mat-paginator>
