/* You can add global styles to this file, and also import other style files */
*{
    font-family: 'Roboto Slab', serif;
}
html, body { 
    height: 100%; 
}
body { 
    margin: 0;
    background: #EEF5FF;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #252B48;
}
