.purchase-info-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
}
.purchases {
  border-collapse: collapse;
  margin-top: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
}

.purchases th, .purchases td {
  border: 1px solid #eeeeee;
  padding: 12px;
  text-align: left;
}

.purchases th {
  background-color: #accef7;
}

.purchases tr:nth-child(even) {
  background: #fcefef;
}

.purchases tr:nth-child(odd) {
  background: rgb(224, 238, 255);
}

.purchases tr:hover {
  background-color: #ffffff;
}

.search-container {
  display: flex;
  justify-content: center;
  padding: 5px;
  margin: 10px;
}

.search-container label {
  margin: 5px;
}