<div class="whole-container">
    <div class="login-container">
        <form [formGroup]="formResponse" (ngSubmit)="loginResponseFunction()">
            <p class="uci-header">UCI</p> <br>
            <p class="login-header">Login</p> <br>
            
            <p>* <span><a routerLink="/register">Register</a></span> if you have not signed up yet.</p>
        
            <div class="value-div">
                <label for="name">Name:</label> <br>
                <input type="text" id="name" name="username" formControlName= "username" required> <br>
                <label for="pass">Password:</label> <br>
                <input type="password" id="pass" name="password" formControlName= "password" required> <br>
            </div>
            
            <div class="button-div">
                <button mat-raised-button type="submit">Login</button> <br>
            </div>
        </form>    
    </div>
</div>