.delivery-details-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.life-cycle {
  border-collapse: collapse;
  margin-top: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
}

.life-cycle th,
.life-cycle td {
  border: 1px solid #eeeeee;
  padding: 12px;
  text-align: left;
}

.life-cycle th {
  background-color: #accef7;
}

.life-cycle tr:nth-child(even) {
  background: #fcefef;
}

.life-cycle tr:nth-child(odd) {
  background: rgb(224, 238, 255);
}

.life-cycle tr:hover {
  background-color: #ffffff;
}

button {
  border: none;
  padding: 10px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}
